.nav {
  width: var(--full);
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;

  @media (max-width: 1312px) and (orientation: landscape) {
    height: auto;
  }

  &__logo {
    width: var(--full);
    padding: 0 32px;

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;

      svg {
        width: var(--full);
        height: var(--full);
      }
    }
  }

  > ul {
    width: var(--full);
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 0 32px;

    li {
      margin-bottom: 40px;

      &:nth-child(1) {
        > a {
          > span {
            color: var(--text-tertiary);
          }
        }
      }

      > a {
        display: flex;
        align-items: center;
        color: inherit;

        &:focus {
          color: inherit;
        }

        > svg {
          width: 19px;
          height: 19px;
        }

        > span {
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }
  }

  &__admin {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--lighter-blue);
    padding: 16px 20px 0px 32px;
    margin-top: auto;
    justify-content: space-between;

    .admin_left {
      display: flex;
      align-items: center;

      > svg {
        width: 40px;
        height: 40px;
      }

      span {
        width: 50px;
        line-height: 1.2;
        font-weight: bold;
        margin-left: 8px;
      }
    }

    .admin_right {
      button {
        background: transparent;
        padding: 0;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
