:root {
  --full: 100%;
  --white: #fff;
  --text-primary: #22346c;
  --text-secondary: #132743;
  --text-tertiary: #ea7470;
  --light-blue: #bccee6;
  --lighter-blue: #d8e4f4;
  --darker-secondary: #0c1e55;
  --darker-grey: #c2c6d6;
  --text-light: #808596;
  --main-bg: #f1f2f6;
  --wrapper-max-width: 1500px;
  --wrapper-min-width: 240px;
  --page-header-width: 250px;
}
